#vldp-container {
    z-index: 9999999999;
    position: absolute;
    width: 100%;
}
    
.txt {
    position: absolute;
    line-height: normal;
    font-family: 'Heebo', sans-serif;
    pointer-events: none;
    color: #F1F1F1;
    font-size: 2.5vmin;
    text-align: center;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
/*---------------------SEARCH BAR---------------------*/
/*---------------------SEARCH BAR---------------------*/
/*---------------------SEARCH BAR---------------------*/
    
#search-bar {
    position: absolute;
    top: 0;
    width: 80%;
    left: 10%;
    margin-top: 2%;
    font-size: 2.5vmin;
    line-height: normal;
    font-family: 'Heebo', sans-serif;
    color: #000000;
    text-align: center;
    background-color: rgba(255,255,255,0);
    border: 0.2vmin solid #000000;
    border-radius: 9999px;
    filter: blur(0px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
    
::placeholder {
    user-select: none;
    color: #000000;
}
    
#search-bar:focus {
    outline: none;
}
    
#search-bar:focus::placeholder {
    color: rgba(0,0,0,0);
}
    
/*---------------------LIBRARY AND PLAYER---------------------*/
/*---------------------LIBRARY AND PLAYER---------------------*/
/*---------------------LIBRARY AND PLAYER---------------------*/
    
#library-container {
    position: absolute;
    width: 90%;
    left: 5%;
    padding-top: 5%;
    margin-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    filter: blur(0px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
    
.video-card {
    display: inline-block;
    position: relative;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
    width: calc(16vmin * 1.7);
    height: calc(9vmin * 1.7);
    cursor: pointer;
}
    
#aspect-ratio {
    display:none;
    position: absolute;
    width: calc(16vmin * 5);
    height: calc(9vmin * 5);
    top: 25%;
    left: 50%;
    pointer-events: none;
}

#iframePlayer {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: -50%;
    filter: none;
}
  
#modal {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}
    
.name-box {
    position: absolute;
    width: 100%;
    height: 22%;
    bottom: -21.5%;
    overflow: hidden;
    background-color: #333333;
}
    
.name-box .txt {
    width: 100%;
    height: 100%;
    font-size: 1.7vmin;
    letter-spacing: -0.5vmin;
    top: 20%;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
    
#title-box {
    display: none;
    position: absolute;
    width: calc(16vmin * 5);
    height: 5vmin;
    top: -5vmin;
    left: -50%;
    pointer-events: none;
    overflow: hidden;
}
    
#title-box .txt {
    font-size: 2.5vmin;
    text-shadow: 0.15vmin 0.15vmin 0.175vmin rgba(0,0,0,0.75);
}
    
/*---------------------PAGE CONTROLS---------------------*/
/*---------------------PAGE CONTROLS---------------------*/
/*---------------------PAGE CONTROLS---------------------*/
    
#page-controls {
    position: absolute;
    top: -0.5%;
    left: 0;
    width: 100%;
}
    
#next-page {
    position: absolute;
    width: 15%;
    height: auto;
    top: 0;
    right: 20%;
    fill: #000000;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
    
#prev-page {
    position: absolute;
    width: 15%;
    height: auto;
    top: 0;
    left: 20%;
    fill: #000000;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
    
#page-text .txt {
    margin-top: 1.1%;
    top: 50%;
    left: 43%;
    color: #000000;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
   
/*---------------------PLAYER CONTROLS---------------------*/
/*---------------------PLAYER CONTROLS---------------------*/
/*---------------------PLAYER CONTROLS---------------------*/
    
#player-controls {
    display: none;
    position: absolute;
    width: calc(16vmin * 5);
    height: 5vmin;
    bottom: -5vmin;
    left: -50%;
    pointer-events: none;
}
    
#toggle-play {
    position: absolute;
    left: 0px;
    width: 5vmin;
    height: 5vmin;
    pointer-events: auto;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
    
#toggle-play svg {
    position: absolute;
    fill: #FFFFFF;
}
    
#toggle-audio {
    position: absolute;
    left: 5vmin;
    width: 5vmin;
    height: 5vmin;
    pointer-events: auto;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}   
    
#toggle-audio svg {
    position: absolute;
    fill: #FFFFFF;
}
    
#toggle-fullscreen {
    position: absolute;
    right: 0px;
    width: 5vmin;
    height: 5vmin;
    pointer-events: auto;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}   
    
#toggle-fullscreen svg {
    position: absolute;
    fill: #FFFFFF;
}

#timeline {
    position: absolute;
    left: 11vmin;
    width: 63vmin;
    height: 5vmin;
    pointer-events: auto;
    cursor: pointer;
}   

#scrubber {
    position: absolute;
    left: 0px;
    width: 0.1%;
    height: 5vmin;
    /*border-right: 0.5vmin solid #FFFFFF;*/
    pointer-events: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
    
#scrubber-preview {
    opacity: 0;
    position: absolute;
    left: 0px;
    width: 0.1%;
    height: 5vmin;
    /*border-right: 0.5vmin solid #FFFFFF;*/
    pointer-events: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
    
#timeline:hover #scrubber-preview {
    opacity: 0.3;
}
    
#timeline svg {
    position: absolute;
    fill: #666666;
    height: 5vmin;
    width: 100%;
}  
    
#scrubber svg {
    position: absolute;
    fill: #FF3333;
    height: 5vmin;
    width: 100%;
}    
    
#scrubber-preview svg {
    position: absolute;
    fill: #FFFFFF;
    height: 5vmin;
    width: 100%;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
} 
   
#timeline:hover svg {
    /*fill: #999999;*/
} 
    
#timeline:hover #scrubber svg {
    /*fill: #FFFFFF;*/
}
    
#timeline .txt {
    top: 0.4vmin;
    font-size: 1.7vmin;
    text-shadow: 0.12vmin 0.12vmin 0.2vmin rgba(0,0,0,0.5);
}
    
/*---------------------MEDIA QUERIES---------------------*/
/*---------------------MEDIA QUERIES---------------------*/
/*---------------------MEDIA QUERIES---------------------*/
    
@media screen and (min-device-aspect-ratio: 6/7) {
/* DESKTOP ONLY */  
    
    #next-page:hover {
        fill: #888888;
    }
    
    #prev-page:hover {
        fill: #888888;
    }
    
}

@media screen and (max-device-aspect-ratio: 6/7) {
/* MOBILE ONLY*/ 
    
    
    
}
