#vldp-container {
    z-index: 9999999999;
    position: absolute;
    width: 100%;
}
    
#library-container {
    position: absolute;
    width: 90%;
    left: 5%;
    padding-top: 5%;
    margin-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}
    
.video-card {
    display: inline-block;
    position: relative;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
    width: calc(16vmin * 1.7);
    height: calc(9vmin * 1.7);
    cursor: pointer;
}
    
#aspect-ratio {
    display:none;
    position: absolute;
    width: calc(16vmin * 5);
    height: calc(9vmin * 5);
    top: 25%;
    left: 50%;
    pointer-events: none;
}

#iframePlayer {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: -50%;
}
  
#modal {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
    
.name-box {
    position: absolute;
    width: 100%;
    height: 22%;
    bottom: -21.5%;
    overflow: hidden;
    background-color: #333333;
}
    
#page-controls {
    position: absolute;
    top: -0.5%;
    left: 0;
    width: 100%;
}
    
#next-page {
    position: absolute;
    width: 15%;
    height: auto;
    top: 0;
    right: 20%;
    fill: #000000;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
    
#prev-page {
    position: absolute;
    width: 15%;
    height: auto;
    top: 0;
    left: 20%;
    fill: #000000;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
  
.txt {
    font-family: 'Heebo', sans-serif;
    pointer-events: none;
    color: #F1F1F1;
    font-size: 2.5vmin;
    text-align: center;
    top: 50%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
.name-box .txt {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.7vmin;
    top: 0%;
    line-height: normal;
    /*margin-top: 2.5%;*/
    /*text-shadow: 0.15vmin 0.15vmin 0.2vmin rgba(0,0,0,0.5);*/
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
    
#page-text .txt {
    margin-top: 1.1%;
    color: #000000;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
    
    
    
    
@media screen and (min-device-aspect-ratio: 6/7) {
/* DESKTOP ONLY */  
    
    #next-page:hover {
        fill: #888888;
    }
    
    #prev-page:hover {
        fill: #888888;
    }
    
}

@media screen and (max-device-aspect-ratio: 6/7) {
/* MOBILE ONLY*/ 
    
    
    
}
