#vldp-container {
    z-index: 9999999999;
    position: absolute;
    width: 100%;
}
    
.txt {
    position: absolute;
    line-height: normal;
    font-family: 'Heebo', sans-serif;
    pointer-events: none;
    color: #F1F1F1;
    font-size: 2.5vmin;
    text-align: center;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
/*---------------------SEARCH BAR---------------------*/
/*---------------------SEARCH BAR---------------------*/
/*---------------------SEARCH BAR---------------------*/
    
#search-bar {
    position: absolute;
    top: 0;
    width: 50%;
    left: 10%;
    margin-top: 2%;
    font-size: 2.5vmin;
    line-height: normal;
    font-family: 'Heebo', sans-serif;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(51,51,51,0.8);
    border: clamp(2px, 0.3vw, 4px) solid rgba(51,51,51,0.3);
    border-radius: 9999px;
    filter: blur(0px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-backdrop-filter: blur(1vmin);
    -moz-backdrop-filter: blur(1vmin);
    -ms-backdrop-filter: blur(1vmin);
    backdrop-filter: blur(1vmin);
}
    
::placeholder {
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FFFFFF;
}
    
#search-bar:focus {
    outline: none;
}
    
#search-bar:focus::placeholder {
    width: 0px;
}
    
#search-icon {
    position: absolute;
    top: 0;
    width: 2.8%;
    left: 11%;
    margin-top: 3%;
    opacity: 0.4;
    pointer-events: none;
}

#cancel-icon {
    display:none;
    position: absolute;
    top: 0;
    width: 3.2%;
    left: 55.5%;
    margin-top: 2.8%;
}
    
/*---------------------CATEGORY FILTER---------------------*/
/*---------------------CATEGORY FILTER---------------------*/
/*---------------------CATEGORY FILTER---------------------*/
    
#category-dropdown {
    position: absolute;
    width: 27%;
    right: 10%;
    margin-top: 2%;
    font-size: 2.5vmin;
    line-height: normal;
    font-family: 'Heebo', sans-serif;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

#category-dropdown-button {
    position: absolute;
    width: 100%;
    background-color: rgba(51,51,51,0.8);
    border: clamp(2px, 0.3vw, 4px) solid rgba(51,51,51,0.3);
    border-radius: 9999px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-backdrop-filter: blur(1vmin);
    -moz-backdrop-filter: blur(1vmin);
    -ms-backdrop-filter: blur(1vmin);
    backdrop-filter: blur(1vmin);
}

#category-dropdown-options {
    right: 0;
    margin-top: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    display: none;
    list-style-type: none;
    background-color: rgba(51,51,51,0.8);
    border: clamp(2px, 0.3vw, 4px) solid rgba(51,51,51,0.3);
    border-radius: clamp(2px, 2vw, 30px);
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-backdrop-filter: blur(1vmin);
    -moz-backdrop-filter: blur(1vmin);
    -ms-backdrop-filter: blur(1vmin);
    backdrop-filter: blur(1vmin);
}
    
#category-dropdown-icon {
    position: absolute;
    width: 7%;
    top: 0;
    margin-top: 2%;
    right: 3%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
}
    
/*---------------------LIBRARY AND PLAYER---------------------*/
/*---------------------LIBRARY AND PLAYER---------------------*/
/*---------------------LIBRARY AND PLAYER---------------------*/
    
#library-container {
    position: absolute;
    width: 90%;
    left: 5%;
    padding-top: 5%;
    margin-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    filter: blur(0px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
    
.video-card {
    display: inline-block;
    position: relative;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
    width: calc(16vmin * 1.7);
    height: calc(9vmin * 1.7);
    cursor: pointer;
    border-top-left-radius: clamp(2px, 0.5vw, 20px);
    border-top-right-radius: clamp(2px, 0.5vw, 20px);
}
    
#aspect-ratio {
    display:none;
    position: absolute;
    width: calc(16vmin * 5);
    height: calc(9vmin * 5);
    top: 25%;
    left: 50%;
    pointer-events: none;
}

#iframePlayer {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: -50%;
    filter: none;
    border-top-left-radius: clamp(2px, 0.5vw, 20px);
    border-top-right-radius: clamp(2px, 0.5vw, 20px);
}
  
#modal {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}
    
.name-box {
    position: absolute;
    width: 100%;
    height: 22%;
    bottom: -21.5%;
    overflow: hidden;
    background-color: rgba(51,51,51,0.9);
    border-bottom-left-radius: clamp(2px, 0.5vw, 20px);
    border-bottom-right-radius: clamp(2px, 0.5vw, 20px);
    -webkit-backdrop-filter: blur(1vmin);
    -moz-backdrop-filter: blur(1vmin);
    -ms-backdrop-filter: blur(1vmin);
    backdrop-filter: blur(1vmin);
}
    
.name-box .txt {
    width: 100%;
    height: 100%;
    font-size: 1.7vmin;
    top: 20%;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
    
#title-box {
    display: none;
    position: absolute;
    width: calc(16vmin * 5);
    height: 5vmin;
    top: -5vmin;
    left: -50%;
    pointer-events: none;
    overflow: hidden;
}
    
#title-box .txt {
    font-size: 2.5vmin;
    text-shadow: 0.15vmin 0.15vmin 0.175vmin rgba(0,0,0,0.75);
}
    
/*---------------------PAGE CONTROLS---------------------*/
/*---------------------PAGE CONTROLS---------------------*/
/*---------------------PAGE CONTROLS---------------------*/
    
#page-controls {
    position: absolute;
    top: -0.5%;
    left: 0;
    width: 100%;
}   
    
#page-controls-background {
    
}  
    
#next-page {
    position: absolute;
    width: 17%;
    height: auto;
    top: 0;
    right: 20%;
    cursor: pointer;
    font-size: 2.5vmin;
    line-height: normal;
    font-family: 'Heebo', sans-serif;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(255,255,255,0);;
    filter: blur(0px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
}
    
#previous-page {
    position: absolute;
    width: 17%;
    height: auto;
    top: 0;
    left: 20%;
    cursor: pointer;
    font-size: 2.5vmin;
    line-height: normal;
    font-family: 'Heebo', sans-serif;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(255,255,255,0);;
    filter: blur(0px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
}
    
#page-text .txt {
    position: absolute;
    line-height: normal;
    text-align: center;
    left: 18.5%;
    width: 62.5%;
    color: #FFFFFF;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    background-color: rgba(51,51,51,0.8);
    border: clamp(2px, 0.3vw, 4px) solid rgba(51,51,51,0.3);
    border-radius: 9999px;
    -webkit-backdrop-filter: blur(1vmin);
    -moz-backdrop-filter: blur(1vmin);
    -ms-backdrop-filter: blur(1vmin);
    backdrop-filter: blur(1vmin);
}
   
/*---------------------PLAYER CONTROLS---------------------*/
/*---------------------PLAYER CONTROLS---------------------*/
/*---------------------PLAYER CONTROLS---------------------*/
    
#player-controls {
    display: none;
    position: absolute;
    width: calc(16vmin * 5);
    height: 5vmin;
    bottom: -5vmin;
    left: -50%;
    pointer-events: none;
}
    
#toggle-play {
    position: absolute;
    left: 0px;
    width: 5vmin;
    height: 5vmin;
    pointer-events: auto;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
    
#toggle-play svg {
    position: absolute;
    fill: #FFFFFF;
}
    
#toggle-audio {
    position: absolute;
    left: 5vmin;
    width: 5vmin;
    height: 5vmin;
    pointer-events: auto;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}   
    
#toggle-audio svg {
    position: absolute;
    fill: #FFFFFF;
}
    
#toggle-fullscreen {
    position: absolute;
    right: 0px;
    width: 5vmin;
    height: 5vmin;
    pointer-events: auto;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}   
    
#toggle-fullscreen svg {
    position: absolute;
    fill: #FFFFFF;
}

#timeline {
    position: absolute;
    left: 11vmin;
    width: 63vmin;
    height: 5vmin;
    pointer-events: auto;
    cursor: pointer;
}   

#scrubber {
    position: absolute;
    left: 0px;
    width: 0.1%;
    height: 5vmin;
    /*border-right: 0.5vmin solid #FFFFFF;*/
    pointer-events: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
    
#scrubber-preview {
    opacity: 0;
    position: absolute;
    left: 0px;
    width: 0.1%;
    height: 5vmin;
    /*border-right: 0.5vmin solid #FFFFFF;*/
    pointer-events: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
    
#timeline:hover #scrubber-preview {
    opacity: 0.3;
}
    
#timeline svg {
    position: absolute;
    fill: #666666;
    height: 5vmin;
    width: 100%;
}  
    
#scrubber svg {
    position: absolute;
    fill: #FF3333;
    height: 5vmin;
    width: 100%;
}    
    
#scrubber-preview svg {
    position: absolute;
    fill: #FFFFFF;
    height: 5vmin;
    width: 100%;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
} 
   
#timeline:hover svg {
    /*fill: #999999;*/
} 
    
#timeline:hover #scrubber svg {
    /*fill: #FFFFFF;*/
}
    
#timeline .txt {
    top: 0.4vmin;
    font-size: 1.7vmin;
    text-shadow: 0.12vmin 0.12vmin 0.2vmin rgba(0,0,0,0.5);
}
    
/*---------------------MEDIA QUERIES---------------------*/
/*---------------------MEDIA QUERIES---------------------*/
/*---------------------MEDIA QUERIES---------------------*/  

@media screen and (min-device-aspect-ratio: 6/7) {
/* DESKTOP ONLY */  
    
    #search-bar:hover:not(:focus)::placeholder {
        color: rgba(255,255,255,0.6);
    }
    
    #category-dropdown-button:hover {
        color: rgba(255,255,255,0.6);
    }
    
    #category-dropdown-button:hover ~ #category-dropdown-icon {
        opacity: 0.6;
    }
    
    #category-dropdown-options li:hover {
        opacity: 0.6;
    }
    
    #next-page:hover {
        opacity: 0.6;
    }
    
    #previous-page:hover {
        opacity: 0.6;
    }
    
}

@media screen and (max-device-aspect-ratio: 6/7) {
/* MOBILE ONLY*/ 
    
    
    
}
